<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="massgrup_mass_Connection" connectionString="XpoProvider=MSSqlServer;data source=mssql10.trwww.com,1433;user id=masslab;password=123qweASD_*;initial catalog=massgrup_mass;Persist Security Info=true" />
    <add name="StokTakip.Properties.Settings.massgrup_massConnectionString"
      connectionString="Data Source=mssql10.trwww.com,1433;Initial Catalog=massgrup_mass;Persist Security Info=True;User ID=masslab;Password=123qweASD_*"
      providerName="System.Data.SqlClient" />
    <add name="massgrup_massEntities" connectionString="metadata=res://*/Talep.Model.csdl|res://*/Talep.Model.ssdl|res://*/Talep.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql10.trwww.com,1433;initial catalog=massgrup_mass;persist security info=True;user id=masslab;password=123qweASD_*;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="massgrup_massConnectionString" connectionString="XpoProvider=MSSqlServer;data source=mssql10.trwww.com,1433;user id=masslab;password=123qweASD_*;initial catalog=massgrup_mass;Persist Security Info=true" />
    <add name="Mask.Properties.Settings.MaskConnectionString" connectionString="Data Source=Tunahan\SQLEXPRESS;Initial Catalog=Mask;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="localhost_MassLab_Connection" connectionString="XpoProvider=MSSqlServer;data source=Tunahan,1433;user id=Tunahan;password=12345;initial catalog=MassLab;Persist Security Info=true" />
    <add name="localhost_Mask_Connection" connectionString="XpoProvider=MSSqlServer;data source=OGUZHAN\SQLEXPRESS;user id=;password=;initial catalog=Mask;Persist Security Info=true" />
    <add name="localhost_Mask_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=OGUZHAN\SQLEXPRESS;user id=sa;password=12344;initial catalog=Mask;Persist Security Info=true" />
    <add name="localhost_MassLab_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=Tunahan,1433;user id=Tunahan;password=12345;initial catalog=MassLab;Persist Security Info=true" />
    <add name="MassTunahan_Mass_Connection" connectionString="XpoProvider=MSSqlServer;data source=MASSTUNAHAN\SQLEXPRESS,1433;user id=sa;password=123qwer;initial catalog=Mass;Persist Security Info=true" />
    <add name="localhost_Mask_denemedbsi" connectionString="XpoProvider=MSSqlServer;data source=OGUZHAN\SQLEXPRESS;integrated security=SSPI;initial catalog=Mask" />
    <add name="turhost_massgrup_mass" connectionString="XpoProvider=MSSqlServer;data source=mssql10.trwww.com,1433;user id=;password=;initial catalog=Massgrup_mass;Persist Security Info=true" />
    <add name="turhost_massgrup_mass_Connection" connectionString="XpoProvider=MSSqlServer;data source=mssql10.trwww.com,1433;user id=masslab;password=123qweASD_*;initial catalog=massgrup_mass;Persist Security Info=true" />
    <add name="localhost_massgrup_denetim_Connection" connectionString="XpoProvider=MSSqlServer;data source=mssql10.trwww.com,1433;user id=masslab;password=123qweASD_*;initial catalog=massgrup_denetim;Persist Security Info=true" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value/>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
