<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnvDTE" version="8.0.0" targetFramework="net48" />
  <package id="QRCoder" version="1.4.3" targetFramework="net461" />
  <package id="stdole" version="7.0.3300" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net48" />
  <package id="Tulpep.NotificationWindow" version="1.1.38" targetFramework="net461" />
  <package id="VsixTesting.Xunit" version="0.1.75" targetFramework="net48" />
  <package id="xunit.abstractions" version="2.0.1" targetFramework="net48" />
  <package id="xunit.extensibility.core" version="2.3.1" targetFramework="net48" />
</packages>